*{padding:0;margin:0;border:0; font-family: 'Roboto', sans-serif;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@media(max-width: 1020px){
    body ._container{
        max-width: 768px;
        margin: 0 auto;
    }

    body .test_item{
        text-align: center;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            color: #444444;
            width: 362px;
        }
        a{
            width: 240px;
            height: 60px;
            font-size: 20px;
        }
    }

    body .test_intro{
        text-align: center;
        h2{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            color: #444444;
        }
    }
}

@media(max-width: 768px){
    body .row{
        flex-direction: column;
    }
    .test_item{
        margin-top: 76px;
        p{
            margin: 0 auto;
        }
    }

    body .test_item{
        text-align: center;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            color: #444444;
            width: 262px;
        }
        a{
            width: 240px;
            height: 60px;
            font-size: 20px;
        }
    }
}

.test_block{
    padding-top: 66px;
}
._container{
    max-width: 1020px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}
.test_intro{
    text-align: center;
    h2{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #444444;
    }
}
.test_item{
    text-align: center;
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #444444;
        width: 442px;
    }

    a{
        width: 240px;
        height: 60px;
        background: #FC9C2B;
        border: 1px solid #FC9C2B;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #444444;
        margin-top: 104px;
        transition: background 0.4s ease-in-out;
        display: block;
        margin: 104px auto;
        padding-top: 15px;
    }
    
}

a:hover{
    background: #61FC2B;
    transition: background 0.4s ease-in-out;
    border: 1px solid #61FC2B;
}